.trailerContainer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    gap: 20px;
}

.trailer {
    /* border: 5px solid #FD8B51; */
    /* border-radius: 10px; */
    /* background-color: #FD8B51; */
    /* padding: 0px 10px 10px 10px; */
    /* color: white; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    /* border: 1px solid #dfd8d8; */
}

.trailer p {
    font-size: 1.0rem;
    margin: 0px;
    text-align: center;
    /* color: black;
    background-color: #dfd8d8;
    padding: 10px;
    width: 200px; */
}

.trailer img { 
    width: 320px;
    height: 180px;
    object-fit: contain;
    /* border: 1px solid grey; */
    border-radius: 10px;
}