/* Mobile Devices */
@media (max-width: 480px) {

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #ffffff;
        padding: 30px 40px;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    #film {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    .filmContainer {
        gap: 30px;
    }

    .filmInfo h2 {
        font-size: 1.2rem;
    }

    .iconContainer {
        display: flex;
        gap: 20px;
    }

    #edit {
        border-radius: 40px;
        font-size: 1.0rem;
        border: none;
        margin: 0px auto 0px 0px;
        font-weight: bold;
        padding: 8px 16px;
        background-color: #EAD8B1;
        color: #001F3F;
        display: block;
        box-shadow: 0 5px #999;
    }

    #edit:hover {
        background-color: #afa184
    }


    #edit:active {
        background-color: #afa184;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
}

/* Tablets/iPads */
@media (min-width: 480px) and (max-width: 768px) {

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #ffffff;
        padding: 30px 50px;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    #film {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    .filmContainer {
        gap: 30px;
    }

    .filmInfo h2 {
        font-size: 1.2rem;
    }

    .iconContainer {
        display: flex;
        gap: 20px;
    }

    #edit {
        border-radius: 40px;
        font-size: 1.0rem;
        border: none;
        margin: 0px auto 0px 0px;
        font-weight: bold;
        padding: 8px 16px;
        background-color: #EAD8B1;
        color: #001F3F;
        display: block;
        box-shadow: 0 5px #999;
    }

    #edit:hover {
        background-color: #afa184
    }


    #edit:active {
        background-color: #afa184;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
}

/* Laptops/Small Screens */
@media (min-width: 768px) and (max-width: 1024px) {

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #ffffff;
        padding: 30px 50px;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    #film {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    .filmContainer {
        gap: 30px;
    }

    .filmInfo h2 {
        font-size: 1.2rem;
    }

    .iconContainer {
        display: flex;
        gap: 20px;
    }

    #edit {
        border-radius: 40px;
        font-size: 1.0rem;
        border: none;
        margin: 0px auto 0px 0px;
        font-weight: bold;
        padding: 8px 16px;
        background-color: #EAD8B1;
        color: #001F3F;
        display: block;
        box-shadow: 0 5px #999;
    }

    #edit:hover {
        background-color: #afa184
    }


    #edit:active {
        background-color: #afa184;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
}

/* Desktops/Large Screens */
@media (min-width: 1024px) and (max-width: 1200px) {

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #ffffff;
        padding: 30px 50px;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    #film {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    .filmContainer {
        gap: 30px;
    }

    .filmInfo h2 {
        font-size: 1.2rem;
    }

    .iconContainer {
        display: flex;
        gap: 20px;
    }

    #edit {
        border-radius: 40px;
        font-size: 1.0rem;
        border: none;
        margin: 0px auto 0px 0px;
        font-weight: bold;
        padding: 8px 16px;
        background-color: #EAD8B1;
        color: #001F3F;
        display: block;
        box-shadow: 0 5px #999;
    }

    #edit:hover {
        background-color: #afa184
    }


    #edit:active {
        background-color: #afa184;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }

}

/* Extra-large Devices */
@media (min-width: 1200px) {

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #ffffff;
        padding: 30px 50px;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    #film {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    .filmContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .filmInfo h2 {
        font-size: 1.2rem;
    }

    .iconContainer {
        display: flex;
        gap: 20px;
    }

    #edit {
        border-radius: 40px;
        font-size: 1.2rem;
        border: none;
        margin: 0px auto 0px 0px;
        font-weight: bold;
        padding: 8px 16px;
        background-color: #EAD8B1;
        color: #001F3F;
        display: block;
        box-shadow: 0 5px #999;
    }

    #edit:hover {
        background-color: #afa184
    }


    #edit:active {
        background-color: #afa184;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
}