/* Mobile Devices */
@media (max-width: 480px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .history {
        width: 100%;
    }

    .filmList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        list-style: none;
        padding: 0px;
        gap: 20px;
        width: 100%;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
    }
    
    .film p {
        font-size: 1.0rem;
        margin: 0px;
        text-align: center;
    }
    
    .film img { 
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    
}

/* Tablets/iPads */
@media (min-width: 480px) and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .history {
        width: 100%;
    }

    .filmList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        list-style: none;
        padding: 0px;
        gap: 20px;
        width: 100%;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
    }
    
    .film p {
        font-size: 1.0rem;
        margin: 0px;
        text-align: center;
    }
    
    .film img { 
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

}

/* Laptops/Small Screens */
@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        display: flex;
        gap: 80px;
        width: 100%;
    }

    .history {
        width: 100%;
    }

    .filmList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        list-style: none;
        padding: 0px;
        gap: 20px;
        width: 100%;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
    }
    
    .film p {
        font-size: 1.0rem;
        margin: 0px;
        text-align: center;
    }
    
    .film img { 
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

}

/* Desktops/Large Screens */
@media (min-width: 1024px) and (max-width: 1200px) {

    .container {
        display: flex;
        gap: 80px;
        width: 100%;
    }

    .history {
        width: 100%;
    }

    .filmList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        list-style: none;
        padding: 0px;
        gap: 20px;
        width: 100%;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
    }
    
    .film p {
        font-size: 1.0rem;
        margin: 0px;
        text-align: center;
    }
    
    .film img { 
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

}

/* Extra-large Devices */
@media (min-width: 1200px) {

    .container {
        display: flex;
        gap: 100px;
        width: 100%;
    }

    .history {
        width: 100%;
    }

    .filmList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        list-style: none;
        padding: 0px;
        gap: 20px;
        width: 100%;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
    }
    
    .film p {
        font-size: 1.0rem;
        margin: 0px;
        text-align: center;
    }
    
    .film img { 
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    
}