body {
    margin: 0px;
    font-family: "Lato", serif;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}

h1 {
    color: #257180;
}

.container {
    display: flex;
    gap: 20px;
}

.main {
    padding-top: 50px;
    padding-left: 350px;
    padding-right: 350px;
    /* background-color: #F2E5BF; */
    height: 100vh;
    width: 100%;
}