body {
    margin: 0px;
    font-optical-sizing: auto;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    background-color: #6A9AB0;
    height: 100%;
}

.app {
    display: flex;
    min-height: 100vh;
}

.main {
    margin-bottom: 100px;
    margin-left: 320px;
    color: #001F3F;
    padding: 50px 100px 100px 0px;
    width: 100%;
}