@media (max-width: 599px) {

    .userInfo {
        display: flex;
        gap: 30px;
        padding: 20px 30px;
        border-radius: 20px;
        background-color: #ffffff;
    }
    
    .userInfo img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: aliceblue;
        object-fit: cover;
        text-align: center;
    }
    
    .movieContainer {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 20px;
        background-color: #ffffff;
        padding: 30px 50px 30px 50px;
        border-radius: 20px;
        margin-bottom: 30px;
    }
    
    .movie {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 320px;
        padding: 10px;
        border-radius: 20px;
    }

    .movie:hover {
        transition: 0.6s ease;
        transform: scale(1.1);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .movie p {
        font-size: 1.0rem;
        margin: 0px;
        text-align: center;
    }
    
    .movie img { 
        width: 100%;
        object-fit: contain;
        border-radius: 20px;
    }
    
}


@media (min-width: 600px) and (max-width: 1199px) {

    .userInfo {
        display: flex;
        gap: 30px;
        padding: 20px 30px;
        border-radius: 20px;
        background-color: #ffffff;
    }
    
    .userInfo img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: aliceblue;
        object-fit: cover;
        text-align: center;
    }
    
    .movieContainer {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 20px;
        background-color: #ffffff;
        padding: 30px 50px 30px 50px;
        border-radius: 20px;
        margin-bottom: 30px;
    }
    
    .movie {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 320px;
        padding: 10px;
        border-radius: 20px;
    }

    .movie:hover {
        transition: 0.6s ease;
        transform: scale(1.1);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .movie p {
        font-size: 1.0rem;
        margin: 0px;
        text-align: center;
    }
    
    .movie img { 
        width: 100%;
        object-fit: contain;
        border-radius: 20px;
    }
}

@media (min-width: 1200px) {

    .userInfo {
        display: flex;
        gap: 50px;
        padding: 30px 50px;
        border-radius: 20px;
        background-color: #ffffff;
    }
    
    .userInfo img {
        max-height: 200px;
        max-height: 200px;
        border-radius: 10px;
        border-radius: 50%;
        background-color: aliceblue;
        object-fit: cover;
        text-align: center;
    }
    
    .movieContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        list-style: none;
        gap: 20px;
        background-color: #ffffff;
        padding: 30px 50px;
        border-radius: 20px;
    }
    
    .movie {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-radius: 20px;
    }

    .movie:hover {
        transition: 0.6s ease;
        transform: scale(1.1);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .movie p {
        font-size: 1.0rem;
        margin: 0px;
        text-align: center;
    }
    
    .movie img { 
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    
}