@media (max-width: 599px) {
    .header {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100px;
        position: static;
        color: #ffffff; 
        background-color: #001F3F;
        border-radius: 20px;
        margin: 30px auto 30px auto;
        gap: 0px;
        padding: 10px;
    }
    
    .logo {
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logo img {
        width: 100px;
    }
    
    .section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .section h2 {
        display: none;
    }
    
    .link {
        text-decoration:none;
        color: #ffffff; 
        display: flex;   
        gap: 0px;
        width: 50px;
        height: 100%;
        transition: 0.4s ease;
        padding: 10px;
        padding-left: 10px;
        line-height: 70px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
            
    .active {
        background-color: grey;
        border-radius: 20px;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
   
}

@media (min-width: 1200px) {

    .header {
        display: flex;
        flex-direction: column;
        width: 210px;
        height: 90%;
        position: fixed;
        color: #ffffff; 
        background-color: #001F3F;
        border-radius: 20px;
        margin: 30px;
        padding: 20px;
    }
    
    .logo {
        padding: 35px;
    }
    
    .logo img {
        width: 120px;
    }
    
    .section {
        display: flex;
        flex-direction: column;
    }
    
    .section h2 {
        margin: 0px;
        font-size: 1.2rem;
    }
    
    .link {
        text-decoration:none;
        color: #ffffff; 
        display: flex;   
        gap: 20px;
        width: 100%;
        height: 100%;
        transition: 0.4s ease;
        padding-left: 30px;
        line-height: 70px;
        box-sizing: border-box;
        align-items: center;
    }
      
    .link:hover {
        padding-left: 50px;
    }
      
    .active {
        background-color: grey;
        border-radius: 20px;
    }
   
}