/* Mobile Devices */
@media (max-width: 480px) {

    .filmContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 20px;
        list-style: none;
        padding: 0px;
        width: 100%;
    }
    
    .filmContainer img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.1);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film p {
        text-align: center;
    }
    
    .filmmakerContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        list-style: none;
        padding: 0px;
    }
    
    .filmmaker {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        justify-content: flex-start;
    }
    
    .filmmaker:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .filmmaker img {
        max-width: 70px;
        max-height: 70px;
        border-radius: 50%;
        background-color: aliceblue;
        object-fit: cover;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px 50px 30px 50px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .section h2 {
        margin-bottom: 40px;
    }
}

/* Tablets/iPads */
@media (min-width: 480px) and (max-width: 768px) {

    .filmContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 20px;
        list-style: none;
        padding: 0px;
        width: 100%;
    }
    
    .filmContainer img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.1);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film p {
        text-align: center;
    }
    
    .filmmakerContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        list-style: none;
        padding: 0px;
    }
    
    .filmmaker {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        justify-content: flex-start;
    }
    
    .filmmaker:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .filmmaker img {
        max-width: 70px;
        max-height: 70px;
        border-radius: 50%;
        background-color: aliceblue;
        object-fit: cover;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px 50px 30px 50px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .section h2 {
        margin-bottom: 40px;
    }
}

/* Laptops/Small Screens */
@media (min-width: 768px) and (max-width: 1024px) {

    .filmContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 20px;
        list-style: none;
        padding: 0px;
        width: 100%;
    }
    
    .filmContainer img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.1);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film p {
        text-align: center;
    }
    
    .filmmakerContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        list-style: none;
        padding: 0px;
    }
    
    .filmmaker {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        justify-content: flex-start;
    }
    
    .filmmaker:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .filmmaker img {
        max-width: 70px;
        max-height: 70px;
        border-radius: 50%;
        background-color: aliceblue;
        object-fit: cover;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px 50px 30px 50px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .section h2 {
        margin-bottom: 40px;
    }
}

/* Desktops/Large Screens */
@media (min-width: 1024px) and (max-width: 1200px) {

    .filmContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 20px;
        list-style: none;
        padding: 0px;
        width: 100%;
    }
    
    .filmContainer img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.1);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film p {
        text-align: center;
    }
    
    .filmmakerContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        list-style: none;
        padding: 0px;
    }
    
    .filmmaker {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        justify-content: flex-start;
    }
    
    .filmmaker:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .filmmaker img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
        background-color: aliceblue;
        object-fit: cover;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px 50px 30px 50px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .section h2 {
        margin-bottom: 40px;
    }

}

/* Extra-large Devices */
@media (min-width: 1200px) {

    .filmContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 20px;
        list-style: none;
        padding: 0px;
        width: 100%;
    }
    
    .filmContainer img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    
    .film {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
    }
    
    .film:hover {
        transition: 0.6s ease;
        transform: scale(1.1);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .film p {
        text-align: center;
    }
    
    .filmmakerContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        list-style: none;
        padding: 0px;
    }
    
    .filmmaker {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        justify-content: flex-start;
    }
    
    .filmmaker:hover {
        transition: 0.6s ease;
        transform: scale(1.05);
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .filmmaker img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
        background-color: aliceblue;
        object-fit: cover;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px 50px 30px 50px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .section h2 {
        margin-bottom: 40px;
    }

}