/* Mobile Devices */
@media (max-width: 480px) {

    .container {
        display: flex;
        gap: 20px;
    }
    
    .container hr {
        border: 1px solid #001F3F;
        display: none;
    }
    
    .link {
        text-decoration:none;
        color: #001F3F; 
        display: flex;   
        height: 40px;
        transition: 0.4s ease;
        padding-left: 10px;
        box-sizing: border-box;
        align-items: center;
        font-size: 0.6rem;
    }
      
    .link:hover {
        color: grey;
    }
    
    .active {
        color: grey;
    }

}

/* Tablets/iPads */
@media (min-width: 480px) and (max-width: 768px) {

    .container {
        display: flex;
        gap: 30px;
    }
    
    .container hr {
        border: 1px solid #001F3F;
        display: none;
    }
    
    .link {
        text-decoration:none;
        color: #001F3F; 
        display: flex;   
        height: 40px;
        transition: 0.4s ease;
        padding-left: 10px;
        box-sizing: border-box;
        align-items: center;
        font-size: 0.6rem;
    }
      
    .link:hover {
        color: grey;
    }
    
    .active {
        color: grey;
    }

}

/* Laptops/Small Screens */
@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        margin: 30px 0px 0px 0px;
        width: 90px;
    }
    
    .container hr {
        border: 1px solid #001F3F;
    }
    
    .link {
        text-decoration:none;
        color: #001F3F; 
        display: flex;   
        gap: 20px;
        width: 100%;
        height: 40px;
        transition: 0.4s ease;
        padding-left: 10px;
        box-sizing: border-box;
        align-items: center;
        font-size: 0.6rem;
    }
      
    .link:hover {
        color: grey;
    }
    
    .active {
        color: grey;
    }
}

/* Desktops/Large Screens */
@media (min-width: 1024px) and (max-width: 1200px) {

    .container {
        margin: 30px 0px 0px 0px;
        width: 100px;
    }
    
    .container hr {
        border: 1px solid #001F3F;
    }
    
    .link {
        text-decoration:none;
        color: #001F3F; 
        display: flex;   
        gap: 20px;
        width: 100%;
        height: 40px;
        transition: 0.4s ease;
        padding-left: 10px;
        box-sizing: border-box;
        align-items: center;
        font-size: 0.7rem;
    }
      
    .link:hover {
        color: grey;
    }
    
    .active {
        color: grey;
    }
}

/* Extra-large Devices */
@media (min-width: 1200px) {

    .container {
        margin: 30px 0px 0px 0px;
        width: 150px;
    }
    
    .container hr {
        border: 1px solid #001F3F;
    }
    
    .link {
        text-decoration:none;
        color: #001F3F; 
        display: flex;   
        gap: 20px;
        width: 100%;
        height: 50px;
        transition: 0.4s ease;
        padding-left: 10px;
        box-sizing: border-box;
        align-items: center;
        border-radius: 20px;
        font-size: 0.8rem;
    }
      
    .link:hover {
        color: grey;
    }
    
    .active {
        color: grey;
        border-radius: 20px;
    }
}