@media (max-width: 599px) {

    .container {
        width: 100%;
    }
    .container h1 {
        text-align: center;
    }
    
    .inputForm {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .inputForm label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
    }
    
    
    .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .inputForm button {
        border-radius: 40px;
        font-size: 1.2rem;
        border: none;
        font-weight: bold;
        padding: 8px 16px;
        background-color: #EAD8B1;
        color: #001F3F;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    #logoutButton {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: red;
    }
    
    .accountInput {
        height: 30px;
        border-radius: 10px;
        padding-left: 15px;
    }
}


@media (min-width: 600px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {

    .container {
        width: 500px;
    }
    
    .inputForm {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .inputForm label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
    }
    
    
    .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 300px;
    }
    
    .inputForm button {
        width: 150px;
        height: 30px;
        border-radius: 10px;
        font-size: 0.7rem;
        border: none;
    }
    
    .logoutButton {
        color: red;
    }
    
    .accountInput {
        height: 30px;
        border-radius: 10px;
        padding-left: 15px;
    }
}