@media (max-width: 599px) {

    .crewContainer {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .crewContainer p {
        margin: 0px;
    }
    
    .crewHeader {
        display: flex;
        gap: 20px;
    }
    
    .crewInputContainer {
        display: flex;
        width: 80%;
        gap: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
        margin-left: auto;
        margin-right: auto;
    }
    
    .crewInputContainer input {
        width: 220px;
        height: 25px;
        padding: 3px 7px;
        border-radius: 5px;
        border: 2px solid #ccc;
    }
    
    .crewInputContainer input:focus {
        outline: 0;
        border: 2px solid #001F3F;
    }
    
    .crewInputContainer textarea {
        width: 220px;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 10px;
        border: 2px solid #ccc;
        resize:none;
    }
    
    .crewInputContainer button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: auto;
        color: grey;
        font-size: 1.3rem;
        border: none;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .crewInput {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .crewInput select {
        width: 220px;
        border-radius: 5px;
        height: 30px;
        padding-left: 5px;
        background-color: white;
        font-family: "Poppins", serif;
        color: #001F3F;
    }
    
    .crewMain {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
    }
    
    .new {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        color: grey;
        font-size: 1.3rem;
        border: none;
    }
    
    
    .suggestionContainer {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    
    .userImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}


@media (min-width: 600px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {

    .crewContainer {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .crewContainer p {
        margin: 0px;
    }
    
    .crewHeader {
        display: flex;
        gap: 20px;
    }
    
    .crewInputContainer {
        display: flex;
        gap: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .crewInputContainer input {
        width: 220px;
        height: 25px;
        padding: 3px 7px;
        border-radius: 5px;
        border: 2px solid #ccc;
    }
    
    .crewInputContainer input:focus {
        outline: 0;
        border: 2px solid #001F3F;
    }
    
    .crewInputContainer textarea {
        width: 220px;
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 10px;
        border: 2px solid #ccc;
        resize:none;
    }
    
    .crewInputContainer button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: auto;
        color: grey;
        font-size: 1.3rem;
        border: none;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .crewInput {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .crewInput select {
        width: 220px;
        border-radius: 5px;
        height: 30px;
        padding-left: 5px;
        background-color: white;
        font-family: "Poppins", serif;
        color: #001F3F;
    }
    
    .crewMain {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
    }
    
    .new {
        width: 30px;
        height: 30px;
        /* border-radius: 50%; */
        border-radius: 10px;
        color: grey;
        font-size: 1.3rem;
        border: none;
        /* margin-top: auto;
        margin-bottom: auto; */
    }
    
    
    .suggestionContainer {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .suggestionContainer img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .suggestionContainer p {
        font-size: 0.8rem;
        text-align: center;
    }
}