.whatsOnContainer {
    list-style: none;
    padding: 0px;
}

.movie {
    /* width: 320px; */
    display: flex;
    gap: 50px;
}

.movie p {
    margin: 0px;
}

.movie img { 
    /* width: 480px; */
    height: 270px;
    object-fit: contain;
    border: 3px solid rgb(42, 53, 71);
    border-radius: 10px;
}

.scheduleContainer {
    list-style: none;
    padding: 0px;
}

.toLiveButton {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.0rem;
    border: none;
    margin-top: 30px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

.liveNowContainer {
    /* display: flex;
    flex-direction: column;
    gap: 50px; */
}