@media (max-width: 599px) {

    .container h1 {
        text-align: center;
    }

    .whatson {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .section {
        background-color: #ffffff;
        padding: 20px 30px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .scheduleContainer{
        list-style: none;
    }

    .movie {
        text-align: center;
    }
    
    .movie h2 {
        font-size: 3rem;
    }
    
    .movie p {
        margin: 0px;
    }
    
    .movie img { 
        width: 100%;
        object-fit: contain;
    }
        
    .toLiveButton {
        border-radius: 40px;
        font-size: 1.2rem;
        border: none;
        margin: 30px auto 20px auto;
        font-weight: bold;
        padding: 15px 20px;
        background-color: #EAD8B1;
        color: #001F3F;
        display: block;
        box-shadow: 0 5px #999;
    }

    .toLiveButton:hover {
        background-color: #afa184
    }

    .toLiveButton:active {
        background-color: #afa184;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }

}


@media (min-width: 600px) and (max-width: 1199px) {

    .container h1 {
        text-align: center;
    }

    .whatson {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .section {
        background-color: #ffffff;
        padding: 20px 30px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .scheduleContainer{
        list-style: none;
    }

    .movie {
        text-align: center;
    }
    
    .movie h2 {
        font-size: 3rem;
    }
    
    .movie p {
        margin: 0px;
    }
    
    .movie img { 
        width: 100%;
        object-fit: contain;
    }
        
    .toLiveButton {
        border-radius: 40px;
        font-size: 1.2rem;
        border: none;
        margin: 30px auto 20px auto;
        font-weight: bold;
        padding: 15px 20px;
        background-color: #EAD8B1;
        color: #001F3F;
        display: block;
        box-shadow: 0 5px #999;
    }

    .toLiveButton:hover {
        background-color: #afa184
    }

    .toLiveButton:active {
        background-color: #afa184;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
}

@media (min-width: 1200px) {

    .whatson {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .section {
        background-color: #ffffff;
        padding: 20px 30px ;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);
    }
    
    .scheduleContainer{
        list-style: none;
    }
    
    
    
    .movie {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    
    .movieInfo {
        width: 50%;
    }
    
    .movie h2 {
        font-size: 3rem;
    }
    
    .movie p {
        margin: 0px;
    }
    
    .movie img { 
        width: 640px;
        height: 360px;
        object-fit: contain;
        margin-top: auto;
        margin-bottom: auto;
        margin: auto;
    }    
    
    .scheduleContainer ul{
        list-style: none;
        padding: 0px;
    }
    
    .toLiveButton {
        border-radius: 40px;
        font-size: 1.2rem;
        border: none;
        margin: 30px auto 20px auto;
        font-weight: bold;
        padding: 15px 20px;
        background-color: #EAD8B1;
        color: #001F3F;
        display: block;
        box-shadow: 0 5px #999;
    }

    .toLiveButton:hover {
        background-color: #afa184
    }


    .toLiveButton:active {
        background-color: #afa184;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }

    
    
    .liveNowContainer h2 {
        margin: 0px;
        margin-bottom: 20px;
    }
}